__pycache__/
build/
.vscode

data/*/*
!data/*/.gitkeep
runs/*
eval/*

*.egg-info

.pytest_cache

ppgs/assets/checkpoints/*
!ppgs/assets/checkpoints/ppg.pt

tmp/
ppgs/config/secrets.py
notebooks/*
!notebooks/*.ipynb
